
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="text-center">API Basejump: Timestamp microservice</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
			<p>User stories:</p>
			<ol>
				<li> I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)</li>
				<li> If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
				<li> If it does not contain a date or Unix timestamp, it returns null for those properties.</li>
			</ol>

			<h3>Example usage:</h3>
			<p><span class="alert-danger">https://lut-fcc-timestamp-ms.herokuapp.com/may%2031%202016</span></p>
			<p><span class="alert-danger">https://lut-fcc-timestamp-ms.herokuapp.com/1464652800000</span></p>
			<p>Welcome to {{title}}</p>

			<h3>Example output:</h3>
			<p><span class="alert-danger">{"unix":1464652800000,"natural":"May 31, 2016"}</span></p>
		</div>
	</div>
</div>